<div class="greeting">
  <h1>Hello, user!</h1>
  <h2>Here you can create a figure and get its perimeter and area</h2>
</div>
<div class="wrapper">
  <form action="#" class="customization-container container">
    <fieldset class="canvas-creation">
      <legend><i>Create a canvas and get started</i></legend>
      <label for="canvas-size">Specify canvas size (width = height)</label>
      <input type="number" id="canvas-size" name="canvas-size" min="10" max="1000" step="1"
        [(ngModel)]="canvasSizeInput" value="500" required>
      <button (click)="figureCreationDisable = false; createNewCanvas()">Start</button>
    </fieldset>

    <fieldset class="figure-creation" [disabled]="figureCreationDisable">
      <legend><i>Figure creation</i></legend>
      <div class="figure-creation__polygon">
        <p><strong>Polygon</strong></p>
        <div>
          <label for="x-point">X</label>
          <input type="number" id="x-point" name="x-point" min="0" max="1000" step="1" [(ngModel)]="xCoordinate"
            required>
          <label for="y-point">Y</label>
          <input type="number" id="y-point" name="y-point" min="0" max="1000" step="1" [(ngModel)]="yCoordinate"
            required>
        </div>
        <button (click)="addPoint()">Add point</button>
        <button (click)="drawAndCalculatePolygon()">Complete</button>
      </div>
      <div class="figure-creation__circle">
        <p><strong>Circle</strong></p>
        <div>
          <label for="circle">Radius</label><br>
          <input type="number" id="circle" name="circle" min="0" max="500" step="1" [(ngModel)]="radius" required>
        </div>
        <button (click)="drawAndCalculateCircle()">Complete</button>
      </div>
    </fieldset>
  </form>

  <div class="canvas-container container">
    <canvas class="canvas" width={{canvasSize}} height={{canvasSize}} #canvas></canvas>
  </div>

  <div class="solution-container container">
    <div class="points-logs">
      <p>Entered coordinates:</p>
      <p>{{enteredCoordinates}}</p>
    </div>
    <div class="figure-info">
      <p>Figure perimeter: {{figurePerimeter}}</p>
      <p>Figure area: {{figureArea}}</p>
    </div>
  </div>
</div>