@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

%big-border-settings {
    border: 3px solid rgb(146, 0, 80);
    border-radius: 10px;
}

%small-border-settings {
    border: 1px solid rgb(107, 0, 59);
    border-radius: 5px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
}

.greeting {
    text-align: center;
    color: rgb(177, 0, 109);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 550px;
    grid-template-rows: 2fr 1fr;
    gap: 10px;
    height: 550px;
    padding: 0 10%;

    .customization-container {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        @extend %big-border-settings;

        .canvas-creation {
            width: 95%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .figure-creation {
            display: flex;
            justify-content: space-evenly;
            width: 95%;
            height: 50%;
            @extend %small-border-settings;
            
            &__polygon,
            &__circle {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }

    .canvas-container {
        grid-column: 2/3;
        grid-row: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %big-border-settings;
        
        .canvas {
            width: 500px;
            height: 500px;
            @extend %small-border-settings;
        }
    }

    .solution-container {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        @extend %big-border-settings;
        
        .points-logs,
        .figure-info {
            width: 95%;
            height: 45%;
            @extend %small-border-settings;
        }

        .points-logs {
            overflow:auto;
        }
    }
}